.nav-container {
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid rgba(128, 128, 128, 0.116);
  display: flex;
  justify-content: center;
}
nav {
  max-width: 1700px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  color: #fff;
  padding: 2rem 0;
}
.logo {
  display: flex;
  font-family: "Quicksand", sans-serif;
  position: relative;
  padding: 1rem 1.2rem 1rem 0;
  cursor: pointer;
  user-select: none;
  text-decoration: none;
}
.logo h1 {
  font-size: 2rem;
  color: #fff;
}
.logo span {
  color: #ff8c42;
  font-size: 2rem;
  position: absolute;
  right: 0px;
  top: 7px;
}
.logo .logo-link {
  text-decoration: none;
}
ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}
.selected-menu {
  color: #ffddc8;
  padding-bottom: 4px;
  border-bottom: 2px dashed #ffddc8;
}
ul li {
  font-family: "Quicksand", sans-serif;
  padding: 1rem 4rem;
}
ul li .menu-link {
  font-size: 1.6rem;
  font-weight: 500;
  user-select: none;
  cursor: pointer;
  color: #ff8c42;
  text-decoration: none;
}
ul li .menu-link:hover {
  color: #fff;
}
