.menu-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1700px;
  margin-left: auto;
  margin-right: auto;
}

.menu-name h1 {
  font-size: 6rem;
  font-family: "Kaushan Script", cursive;
  color: #ff8c42;
  user-select: none;
  font-weight: 500;
}
.menu-container main {
  padding-top: 0;
  justify-content: space-around;
  width: 100%;
  display: flex;
}

.prize {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  padding-top: 2rem;
  flex: 3;
}
.prize h1 {
  font-size: 3rem;
  color: #ffddc8;
  font-family: "Kosugi", sans-serif;
}
.pizza-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
}
.pizza {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: "Kosugi", sans-serif;
  color: #ffddc8;
  gap: 2rem;
  cursor: pointer;
}
.selected-pizza {
  color: #ff8c42;
}
.seprator {
  flex: 2;
  height: 1rem;
  border-bottom: 1px dashed #ffddc8;
}
.pizza-name {
  flex: 2;
  font-size: 2rem;
}
.pizza-prize {
  flex: 1;
  font-size: 2rem;
}

.pizza-details {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding-top: 2rem;
  font-family: "Kosugi", sans-serif;
  color: #ffddc8;
}
.selected-img {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 400px;
}
.pizza-details img {
  width: 400px;
}
